name: jplayer
description: Jellyfin client
publish_to: 'none'
version: 0.1.6+13


environment:
  sdk: '>=3.1.0 <4.0.0'


dependencies:
  flutter:
    sdk: flutter

  animations: ^2.0.0
  window_manager: ^0.3.8
  cupertino_icons: ^1.0.0
  dropdown_button2: ^2.3.0
  flutter_svg: ^2.0.0
  sentry_flutter: ^7.18.0
  freezed_annotation: ^2.4.0
  just_audio:
  cached_network_image: ^3.3.0
  just_audio_background:
  go_router: ^13.2.2
  intl: ^0.19.0
  json_annotation: ^4.8.0
  flutter_spinkit: ^5.2.1
  modal_bottom_sheet: ^3.0.0-pre
  palette_generator:
  responsive_builder: ^0.7.0
  riverpod_infinite_scroll: ^1.0.0
  infinite_scroll_pagination: ^3.2.0
  flutter_riverpod: ^2.4.0
  pretty_dio_logger: ^1.0.0
  flutter_secure_storage: ^9.0.0
  retrofit: ^4.1.0
  dio: ^5.4.0
  string_capitalize: ^0.0.10
  sliver_tools: ^0.2.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  retrofit_generator: ^8.1.0
  build_runner: ^2.4.6
  riverpod_lint: ^2.3.3
  freezed: ^2.4.6
  json_serializable: ^6.7.1
  very_good_analysis: ^5.1.0
  test: ^1.24.9
  integration_test:
    sdk: flutter


flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/

  fonts:
    - family: Gilroy
      fonts:
        - asset: assets/fonts/Gilroy/Gilroy-Thin.ttf
          weight: 100
        - asset: assets/fonts/Gilroy/Gilroy-UltraLight.ttf
          weight: 200
        - asset: assets/fonts/Gilroy/Gilroy-Light.ttf
          weight: 300
        - asset: assets/fonts/Gilroy/Gilroy-Regular.ttf
          weight: 400
        - asset: assets/fonts/Gilroy/Gilroy-Medium.ttf
          weight: 500
        - asset: assets/fonts/Gilroy/Gilroy-Semibold.ttf
          weight: 600
        - asset: assets/fonts/Gilroy/Gilroy-Bold.ttf
          weight: 700
        - asset: assets/fonts/Gilroy/Gilroy-Extrabold.ttf
          weight: 800
        - asset: assets/fonts/Gilroy/Gilroy-Black.ttf
          weight: 900
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter/Inter-Thin.ttf
          weight: 100
        - asset: assets/fonts/Inter/Inter-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/Inter/Inter-Light.ttf
          weight: 300
        - asset: assets/fonts/Inter/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter/Inter-Bold.ttf
          weight: 700
        - asset: assets/fonts/Inter/Inter-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Inter/Inter-Black.ttf
          weight: 900
    - family: JPlayer
      fonts:
        - asset: assets/fonts/JPlayer.ttf
    - family: Entypo
      fonts:
        - asset: assets/fonts/Entypo.ttf

flutter_intl:
  enabled: true
