name: jplayer
description: Jellyfin client
publish_to: 'none'
version: 1.8.4+25


environment:
  sdk: '>=3.1.0 <4.0.0'


dependencies:
  flutter:
    sdk: flutter

  animations: ^2.0.11
  window_manager: ^0.3.9
  cupertino_icons: ^1.0.8
  flutter_udid: ^3.0.0
  dropdown_button2: ^2.3.9
  flutter_svg: ^2.0.10+1
  flutter_svg_provider: ^1.0.7
  sentry_flutter: ^7.18.0
  freezed_annotation: ^2.4.3
  mediakeys_proxy:
    path: ./mediakeys_proxy
  just_audio:
  just_audio_background:
  just_audio_media_kit: # Used for Linux
    git:                # Remove when https://github.com/Pato05/just_audio_media_kit/pull/17 is merged
      url: https://github.com/lvyueyang/just_audio_media_kit.git
      ref: main
  media_kit_libs_linux: any # Required dependency of just_audio_media_kit for Linux support
  media_kit_native_event_loop: any
  cached_network_image: ^3.4.1
  go_router: ^14.2.1
  intl: ^0.19.0
  json_annotation: ^4.9.0
  flutter_spinkit: ^5.2.1
  modal_bottom_sheet: ^3.0.0-pre
  shared_preferences: ^2.2.3
  palette_generator:
  responsive_builder: ^0.7.1
  riverpod_infinite_scroll: ^1.0.9
  infinite_scroll_pagination: ^4.0.0
  flutter_riverpod: ^2.5.1
  pretty_dio_logger: ^1.3.1
  flutter_secure_storage: ^9.2.2
  retrofit: ^4.1.0
  dio: ^5.5.0+1
  string_capitalize: ^0.0.10
  sliver_tools: ^0.2.12


dev_dependencies:
  flutter_test:
    sdk: flutter
  retrofit_generator: ^8.1.2
  build_runner: ^2.4.11
  riverpod_lint: ^2.3.10
  freezed: ^2.5.2
  json_serializable: ^6.8.0
  very_good_analysis: ^6.0.0
  test: ^1.25.2
  integration_test:
    sdk: flutter


flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/

  fonts:
    - family: Gilroy
      fonts:
        - asset: assets/fonts/Gilroy/Gilroy-Thin.ttf
          weight: 100
        - asset: assets/fonts/Gilroy/Gilroy-UltraLight.ttf
          weight: 200
        - asset: assets/fonts/Gilroy/Gilroy-Light.ttf
          weight: 300
        - asset: assets/fonts/Gilroy/Gilroy-Regular.ttf
          weight: 400
        - asset: assets/fonts/Gilroy/Gilroy-Medium.ttf
          weight: 500
        - asset: assets/fonts/Gilroy/Gilroy-Semibold.ttf
          weight: 600
        - asset: assets/fonts/Gilroy/Gilroy-Bold.ttf
          weight: 700
        - asset: assets/fonts/Gilroy/Gilroy-Extrabold.ttf
          weight: 800
        - asset: assets/fonts/Gilroy/Gilroy-Black.ttf
          weight: 900
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter/Inter-Thin.ttf
          weight: 100
        - asset: assets/fonts/Inter/Inter-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/Inter/Inter-Light.ttf
          weight: 300
        - asset: assets/fonts/Inter/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter/Inter-Bold.ttf
          weight: 700
        - asset: assets/fonts/Inter/Inter-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Inter/Inter-Black.ttf
          weight: 900
    - family: JPlayer
      fonts:
        - asset: assets/fonts/JPlayer.ttf
    - family: Entypo
      fonts:
        - asset: assets/fonts/Entypo.ttf

flutter_intl:
  enabled: true
