dependency_overrides:
  upnp_quirks:
    git:
      url: git@github.com:avdept/upnp_quirks.git
      ref: main
  genre_playlists:
    git:
      url: git@github.com:avdept/genre_playlists.git
      ref: main
