PACKAGE_NAME=
PLAY_TRACK=
PLAY_SERVICE_ACCOUNT_JSON=
PLAY_CERTIFICATE_SHA256_HASH=
PLAY_DOWNLOAD_ATTEMPTS=
PLAY_DOWNLOAD_INTERVAL=
ANDROID_KEYSTORE_ENV_VAR=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=
