name: macOS Beta

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: macos
    env:
      BUILD_NUMBER: ${{ github.run_number }}
      APP_IDENTIFIER: ${{ secrets.APP_IDENTIFIER }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      ITC_TEAM_ID: ${{ secrets.ITC_TEAM_ID }}
      TEAM_ID: ${{ secrets.TEAM_ID }}
      APPSTORE_P8_KEY_CONTENT: ${{ secrets.APPSTORE_P8_KEY_CONTENT }}
      APPSTORE_KEY_ISSUER_ID: ${{ secrets.APPSTORE_KEY_ISSUER_ID }}
      APPSTORE_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
      GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
      GIT_AUTHORIZATION: ${{ secrets.GIT_AUTHORIZATION }}
      GIT_REPOSITORY: ${{ secrets.GIT_REPOSITORY }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
          working-directory: macos

      - name: Build and upload to TestFlight
        run: bundle exec fastlane mac beta
